@import './variables.scss';

.#{$prefix-cls}-toolbar {
  user-select: none;
  position: absolute;
  overflow: hidden;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.9;
  display: flex;
  background-color: #d1c4e9;
  border-radius: 0px;
  padding: 0;

  .toolbar-btn {
    user-select: none;
    flex-shrink: 0;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 32px;
    color: #1d1d1d;
    background-color: #d1c4e9;
    -webkit-tap-highlight-color: transparent;
    outline: none;

    &:hover,
    &:active {
      background-color: #B5A9CD;
    }
  }
}
